REST_COUNTRIES_API_KEY= # API key you generate in restcountries.com
GOOGLE_CLOUD_PROJECT= # GCP project ID
GOOGLE_BIGQUERY_DATASET= # name of the dataset created in BigQuery. default: etl_universities
GOOGLE_APPLICATION_CREDENTIALS= # ADC file path
